## Einige Dateien sollen nicht mit ins Git-Repository

# Mac OS X spezifisches
*.DS_Store

# Wir brauchen keine Binaries im Repository
*.exe
*.out
*.o

# Auch Verzeichnis mit nur binaries können wir ignorieren
bin/
obj/

# Wir brauchen auch kein html im Repository. Dies können wir uns aus markdown generieren.
*.html
